# mention the name of the file to be restricted directly from accessing it

<Files "codeasthram.html">
    Deny from all
</Files>


RewriteEngine On
RewriteBase /code_asthram_dev/

# Redirect everything to index.php except existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
