<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Asthram</title>
    <link rel="png" href="../public/media/favicon.png" type="image/x-icon">
    <script type="text/javascript" src="/public/js/developer.js"></script>
    <script type="text/javascript" src="/public/js/rightclick.js"></script>
    <script type="text/javascript" src="/public/js/shortcut.js"></script>

</head>
<body>
    <%- include('../public/codeasthram.html') %>
</body>
</html>