<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Asthram</title>
    <link rel="icon" href="../public/media/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../public/codeasthram.html') %>
</body>
</html>