.preloader{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #62cdff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


.inner{
    border: 0;
    height: 45px;
    vertical-align: middle;
}